<!--actualmente blazor no tine un input password por lo que tenemos que crear uno, va eredar de Inputbase que nos permite crear inputs-->
@inherits InputBase<string>
@inject IJSRuntime JS

@*<input type="password" @bind="@CurrentValue" class="@CssClass" placeholder="@PlaceHolder" />*@

<div class="input-group">

    <input id="txtPassword" type="password" @bind="@CurrentValue" class="@CssClass" placeholder="@PlaceHolder">

    <div class="input-group-append">

        <button id="show_password" class="btn btn-danger btn-sm" type="button" @onclick="MostrarPasswordClick">
            <span class="oi oi-lock-locked iconover"></span>
        </button>

    </div>
</div>

@code{

    [Parameter] public string PlaceHolder { get; set; }

    protected override bool TryParseValueFromString(string value, out string result, out string validationErrorMessage)
    {
        result = value;
        validationErrorMessage = null;
        return true;
    }

    //se utiliza el metodo void por que no devolvemos ningun valor , sino se usuaria task
    public void MostrarPasswordClick()
    {
        JS.InvokeVoidAsync("MostrarPassword");
    }
}