@inherits SimComponentBase

@if (EsVisible)
{
    <div class="@ModalClass" id="authentication-modal" tabindex="-1" role="dialog" aria-labelledby="authentication-modal-label" aria-modal="true" style="@Stylename">
        <div class="@ModalDialogClass" role="document">
            <div class="modal-content border-0">
                <div class="modal-header px-5 position-relative modal-shape-header" style="background-color:#045fa8;">
                    @ModalCabecera
                    <div class="position-relative z-index-1 light">
                        <h4 class="mb-0 text-white" id="authentication-modal-label">@Titulo</h4>
                        <p class="fs--1 mb-0 text-white">Please create your free Falcon account</p>
                    </div>                  
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="ModalCancel">
                        <span class="font-weight-light" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body py-4 px-5">
                    @ChildContent               
                </div>
                
                <div class="modal-footer">
                    @ModalPie

                    @switch (BotonesModal)
                    {
                        case TiposdeBoton.Ok:
                            <Boton ButtonType="ButtonType.Submit" Class="btn btn-sm btn-success" @onclick="ModalOk">Guardar</Boton>
                            break;
                        case TiposdeBoton.CancelarBorrar:
                            <Boton ButtonType="ButtonType.Button" Class="btn btn-sm btn-secondary" @onclick="ModalCancel">Cerrar</Boton>
                            <Boton ButtonType="ButtonType.Button" Class="btn btn-sm btn-danger">Borrar</Boton>
                            break;
                        case TiposdeBoton.OkCancelar:
                            <Boton ButtonType="ButtonType.Button" Class="btn btn-sm btn-secondary" @onclick="ModalCancel">Cerrar</Boton>
                            <Boton ButtonType="ButtonType.Submit" Class="btn btn-sm btn-success" @onclick="ModalOk">Guardar</Boton>
                            break;
                        case TiposdeBoton.Cancelar:
                            <Boton ButtonType="ButtonType.Button" Class="btn btn-sm btn-secondary" @onclick="ModalCancel">Cerrar</Boton>
                            break;
                        case TiposdeBoton.Link:
                            <Enlace Href="@Href" Class="btn btn-sm btn-primary">@TituloEnlace</Enlace>
                            <Boton ButtonType="ButtonType.Button" Class="btn btn-sm btn-secondary" @onclick="ModalCancel">Cerrar</Boton>
                            break;
                        case TiposdeBoton.LinkOK:
                            <Enlace Href="@Href" Class="btn btn-sm btn-primary">@TituloEnlace</Enlace>
                            <Boton ButtonType="ButtonType.Submit" Class="btn btn-sm btn-success" @onclick="ModalOk">Guardar</Boton>
                            break;
                        case TiposdeBoton.SinBtn:
                            break;
                        case TiposdeBoton.BotonOnclick:
                            <Boton ButtonType="ButtonType.Button" Class="btn btn-sm btn-secondary" @onclick="ModalCancel">Cerrar</Boton>
                            <Boton ButtonType="ButtonType.Button" Class="btn btn-sm btn-success" @onclick="ModalOk2">Guardar</Boton>                            
                            break;
                    }
                </div>
            </div>
        </div>
    </div>
}


